<!doctype html>
<html lang="en">
    <head>
        <meta name="charset" value="utf-8">
        <title>PanTilt HAT</title>
        <style type="text/css">
            .main {
                width:220px;
                height:220px;
                background:#F0F0F0;
                position:relative;
            }
            .main ul, .main li {
                list-style:none;
                margin:0;
                padding:0;
            }
            .main li {
                width:50px;
                height:50px;
                border:5px outset #DDDDDD;
                background:#CCCCCC;
                position:absolute;
                cursor:pointer;
                line-height:50px;
                text-align:center;
            }
            .main .ctr {left:35%;right:-110px;top:+75px;}
            .main .up {left:50%;margin-left:-35px;}
            .main .down {left:50%;bottom:0;margin-left:-35px;}
            .main .left {top:50%;margin-top:-35px;}
            .main .right {top:50%;right:0;margin-top:-35px;}
        </style>
    </head>
    <body>
        <h1>Pan Tilt HAT: Web Interface</h1>

        <div class="main">
            <ul>
                <li class="ctr" data-action="leds">Leds</li>
                <li class="up" data-action="tilt:-1">Up</li>
                <li class="down" data-action="tilt:+1">Down</li>
                <li class="left" data-action="pan:+1">Left</li>
                <li class="right" data-action="pan:-1">Right</li>
            </ul>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script type="text/javascript">
            var current_pan = 90;
            var current_tilt = 90;
            var pantilt_speed = 60; // Delay between increments in ms

            var interval = null;
            var current_direction = null;
            var current_angle = null;
            var rgbw = 255;
            var channel = 0;

            $(function(){
                $(window).on('keydown',function(e){
                    clearInterval(interval);
                    // See: https://www.freecodecamp.org/news/javascript-keycode-list-keypress-event-key-codes/
                    switch(e.keyCode){
                        case 101: // Num keypad 5
                            current_direction = 'leds';
                            $.get('/leds_setall/'+rgbw);   // Switch all 8 LEDs ON or off
                            break;                        
                        case 38: // Arrow Up
                            current_direction = 'tilt';
                            current_angle = 1;
                            interval = setInterval(pantilt,pantilt_speed);
                            break;
                        case 40: // Arrow Down
                            current_direction = 'tilt';
                            current_angle = -1;
                            interval = setInterval(pantilt,pantilt_speed);
                            break;
                        case 37: // Arrow Left
                            current_direction = 'pan';
                            current_angle = 1;
                            interval = setInterval(pantilt,pantilt_speed);
                            break;
                        case 39: // Arrow Right
                            current_direction = 'pan';
                            current_angle = -1;
                            interval = setInterval(pantilt,pantilt_speed);
                            break;
                        default:
                            $.get('/readAdc/'+channel)  // Poll the SPI channel
                            break;
                    }
                });
                $(window).on('keyup',function(e){clearInterval(interval)});
                $('.main').on('mousedown','li',function(e){
                   e.preventDefault();
                   clearInterval(interval);

                   var obj = $(this);
                   var action = obj.data('action');
                   current_direction = action.split(':')[0];
                   current_angle = parseInt(action.split(':')[1]);

                   interval = setInterval(pantilt,pantilt_speed);
               })
               .on('mouseup','li',function(e){
                   clearInterval(interval);
               });

               function pantilt(){
                   var angle = 0;
                   var rgbw = 255;
                   if(current_direction == 'leds'){
                        $.get('/leds_setall/'+rgbw); 
                        return;
                   }
                   if(current_direction == 'pan'){
                       current_pan += current_angle;
                       if(current_pan < 0) current_pan = 0;
                       if(current_pan > 180) current_pan = 180;
                       angle = current_pan;
                   }

                   if(current_direction == 'tilt'){
                       current_tilt += current_angle;
                       if(current_tilt < 0) current_tilt = 0;
                       if(current_tilt > 180) current_tilt = 180;
                       angle = current_tilt;
                   }

                   $.get('/api/' + current_direction + '/' + angle); 
                }
            });

            // Added for test
            const ControllerFactory = function ({
                spiDevice = '/dev/spidev0.0',
                Gpio = require('onoff').Gpio,
                Spi = require('pi-spi'),
                RendererV1 = null,
                RendererV2 = null,
                logger = getLogger()
               } = {}) {
                // Some privates...
                let pinReset;
                let pinBusy;
                let pinDC;
                let spi;
                let version;
                let renderer;
               
                class Controller {
                 async init () {
                  logger.info('initialising\n');
               
                  // Define Reset Pin as OUTPUT...
                  pinReset = new Gpio(RESET_PIN, 'out');
                  // Define Busy Pin as INPUT with no Pull Up or Down...
                  pinBusy = new Gpio(BUSY_PIN, 'in', 'both');
                  // Define Data/Command Pin as OUTPUT...
                  pinDC = new Gpio(DC_PIN, 'out');
               
                  // Setup SPI Device...
                  try {
                   spi = Spi.initialize(spiDevice);
                  } catch (e) {
                   logger.error('Failed to Setup SPI Device:\n');
                   logger.error(e);
                   throw new Error('Failed to Setup SPI Device');
                  }
                  spi.clockSpeed(500000);
               
                  logger.info('SPI Device setup: ' + spiDevice + '\n');
               
                  // Reports the version...
                  const ver = await this.getVersion();
                  logger.info(`initialised (v${ver})\n`);
               
                  // Load in renderer for the version in use...
                  let Renderer;
                  if (ver === 1) {
                   Renderer = RendererV1 || require('./inkyphat-renderer-v1');
                  } else {
                   Renderer = RendererV2 || require('./inkyphat-renderer-v2');
                  }
                  renderer = new Renderer({ logger, pinReset, pinBusy, pinDC, spi });
                 }
               
                 async destroy () {
                  logger.info('destroying\n');
                  if (pinReset) {
                   pinReset.unexport();
                   pinReset = null;
                  }
                  if (pinBusy) {
                   pinBusy.unexport();
                   pinBusy = null;
                  }
                  if (pinDC) {
                   pinDC.unexport();
                   pinDC = null;
                  }
                  logger.info('destroyed\n');
                 }
               
                 async getVersion () {
                  if (!version) {
                   await writePin(pinDC, LOW);
                   await writePin(pinReset, HIGH);
                   await writePin(pinReset, LOW);
                   await sleep(100);
                   await writePin(pinReset, HIGH);
                   await sleep(100);
                   const busyValue = await readPin(pinBusy);
               
                   if (busyValue === LOW) {
                    version = 2;
                   } else {
                    version = 1;
                   }
                  }
                  return version
                 }
               
                 async redraw (buffer, border, mode) {
                  await renderer.render(buffer, border, mode);
                 }
               
                 async clear () {
                  await renderer.clear();
                 }
                }
                return new Controller();
               }

               spi.write(command, function (err) {
                if (err) {
                 console.error('Display update ERROR', err);
                 return cb(err);
                }
              
                self.spi.read(readBytes, function(err, data) {
                 console.log("DUMMY READ", data);
                 console.log("DUMMY READ", data.toString());
              
                 return cb(err, data);
                });
               });


        </script>
    </body>
</html>
